@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Use this page to detail your site's privacy policy.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id orci massa. Ut est velit, placerat eget turpis quis, malesuada porta tortor. Praesent sapien urna, pretium aliquam ultrices ac, sagittis vel elit. Nullam scelerisque, libero eu tempus hendrerit, nisl libero sagittis urna, ac bibendum nisl nulla non nulla. Morbi tincidunt porta lobortis. Cras at est odio. Sed ut dolor urna. Nullam gravida, nisi quis molestie ornare, nisi nisl luctus sapien, id faucibus ex quam nec odio. Pellentesque accumsan sagittis laoreet. Aenean sollicitudin iaculis lacus vitae fermentum. Pellentesque mi diam, rutrum vel ultrices efficitur, accumsan suscipit lacus. Proin lacus dui, aliquet vel porttitor quis, condimentum quis odio. Praesent condimentum quam magna, et iaculis tortor auctor id.
    <br />
    Nulla ut rhoncus lacus, eu sagittis nisl. Duis pretium ipsum vel lorem mattis finibus. Donec risus tortor, rhoncus ultricies ligula a, semper finibus nisl. Donec dictum accumsan nunc, non aliquet leo congue vel. Nullam varius ante est, sed laoreet ex porta sed. Sed congue neque justo, in porttitor diam pretium vitae. In rhoncus, sem quis tempus auctor, felis ligula pharetra nulla, eget interdum nisi quam id dolor. Nunc a placerat massa. Ut felis nunc, euismod et nibh in, ultrices blandit tortor. Aliquam erat volutpat. Cras ac pretium diam, nec condimentum sapien. Suspendisse nec odio ac metus convallis euismod. Nulla volutpat malesuada odio et tincidunt. Pellentesque rhoncus aliquet nunc at viverra. Nunc quis finibus sapien, nec molestie magna.
    <br />
    Suspendisse hendrerit vel turpis vel consequat. In ornare justo eu est tempus pulvinar. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam convallis viverra imperdiet. Maecenas mollis id turpis ut blandit. Integer neque lacus, sagittis quis ex vitae, eleifend scelerisque nunc. Nunc nec congue ipsum, a consectetur massa. Cras iaculis tellus in dui ultrices imperdiet. Nam tincidunt metus et molestie consectetur. Morbi orci augue, suscipit ut tellus sit amet, tincidunt tempor odio. Nam sagittis diam non laoreet sagittis.
    <br />
    Cras sit amet volutpat mi. Suspendisse vestibulum neque eu fermentum accumsan. Integer faucibus libero purus, at commodo mi maximus eget. Nam sed faucibus risus. Vestibulum eget aliquet tortor, id pulvinar purus. Pellentesque consectetur quam non auctor dapibus. Morbi sit amet urna at enim hendrerit elementum.
    <br />
</p>
